openapi: "3.1.0"
info:
  title: OpenAI API
servers:
  - url: https://api.openai.com
paths:
  /v1/organizations:
    get:
      operationId: getOrganizations
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
        401:
          $ref: "#/components/responses/Unauthorized"
  /v1/organizations/{organizationId}:
    get:
      operationId: getOrganization
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        401:
          $ref: "#/components/responses/Unauthorized"
  /v1/organizations/{organizationId}/users:
    get:
      operationId: getOrganizationUsers
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                required:
                  - can_invite
                  - invited
                  - members
                properties:
                  can_invite:
                    type: boolean
                  invited:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvitedUser"
                  members:
                    type: object
                    required:
                      - data
                      - object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrganizationUser"
                      object:
                        $ref: "#/components/schemas/ObjectList"
        401:
          $ref: "#/components/responses/Unauthorized"
  /dashboard/organizations/{organizationId}/projects:
    get:
      operationId: getOrganizationProjects
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  object:
                    $ref: "#/components/schemas/ObjectList"
        401:
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createOrganizationProject
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - geography
              properties:
                title:
                  type: string
                geography:
                  type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        401:
          $ref: "#/components/responses/Unauthorized"
  /dashboard/organizations/{organizationId}/projects/{projectId}:
    get:
      operationId: getOrganizationProject
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        401:
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: updateOrganizationProject
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                archive:
                  type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        401:
          $ref: "#/components/responses/Unauthorized"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Organization:
      type: object
      required:
        - created
        - description
        - id
        - is_default
        - name
        - object
        - personal
        - projects
        - settings
        - title
      properties:
        created:
          type: number
        description:
          type: string
        id:
          type: string
        is_default:
          type: boolean
        name:
          type: string
        object:
          type: string
          enum:
            - organization
        parent_org_id:
          type: string
        personal:
          type: boolean
        projects:
          type: object
          required:
            - data
            - object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Project"
            object:
              $ref: "#/components/schemas/ObjectList"
        role:
          $ref: "#/components/schemas/Role"
        settings:
          type: object
          required:
            - threads_ui_visibility
            - usage_dashboard_visibility
          properties:
            threads_ui_visibility:
              type: string
              enum:
                - NONE
                - OWNERS
                - ANY_ROLE
            usage_dashboard_visibility:
              type: string
              enum:
                - OWNERS
                - ANY_ROLE
        title:
          type: string
    OrganizationUser:
      type: object
      required:
        - created
        - is_default
        - is_service_account
        - object
        - role
        - user
      properties:
        created:
          type: number
        id:
          type: string
        is_default:
          type: boolean
        is_service_account:
          type: boolean
        object:
          type: string
          enum:
            - organization_user
        role:
          $ref: "#/components/schemas/Role"
        user:
          $ref: "#/components/schemas/User"
    Project:
      type: object
      required:
        - created
        - id
        - is_initial
        - object
        - organization_id
        - title
      properties:
        created:
          type: number
        geography: {}
        id:
          type: string
        is_initial:
          type: boolean
        object:
          type: string
          enum:
            - project
        organization_id:
          type: string
        role:
          type: string
        title:
          type: string
    User:
      type: object
      required:
        - email
        - id
        - name
        - object
      properties:
        email:
          type: string
        id:
          type: string
        name:
          type: string
        object:
          type: string
          enum:
            - user
        picture:
          type: string
    InvitedUser:
      type: object
      required:
        - email
        - id
        - is_expired
        - role
      properties:
        email:
          type: string
        id:
          type: string
        is_expired:
          type: boolean
        role:
          $ref: "#/components/schemas/Role"
    ObjectList:
      type: string
      enum:
        - list
    Role:
      type: string
      enum:
        - reader
        - owner
    Error:
      type: object
      properties:
        message:
          type: string
        type:
          type: string
        param: {}
        code: {}
security:
  - bearerAuth: []
