{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAI API",
    "description": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.",
    "version": "2.3.0",
    "termsOfService": "https://openai.com/policies/terms-of-use",
    "contact": {
      "name": "OpenAI Support",
      "url": "https://help.openai.com/"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.openai.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Assistants",
      "description": "Build Assistants that can call models and use tools."
    },
    {
      "name": "Audio",
      "description": "Turn audio into text or text into audio."
    },
    {
      "name": "Chat",
      "description": "Given a list of messages comprising a conversation, the model will return a response."
    },
    {
      "name": "Conversations",
      "description": "Manage conversations and conversation items."
    },
    {
      "name": "Completions",
      "description": "Given a prompt, the model will return one or more predicted completions, and can also return the probabilities of alternative tokens at each position."
    },
    {
      "name": "Embeddings",
      "description": "Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms."
    },
    {
      "name": "Evals",
      "description": "Manage and run evals in the OpenAI platform."
    },
    {
      "name": "Fine-tuning",
      "description": "Manage fine-tuning jobs to tailor a model to your specific training data."
    },
    {
      "name": "Graders",
      "description": "Manage and run graders in the OpenAI platform."
    },
    {
      "name": "Batch",
      "description": "Create large batches of API requests to run asynchronously."
    },
    {
      "name": "Files",
      "description": "Files are used to upload documents that can be used with features like Assistants and Fine-tuning."
    },
    {
      "name": "Uploads",
      "description": "Use Uploads to upload large files in multiple parts."
    },
    {
      "name": "Images",
      "description": "Given a prompt and/or an input image, the model will generate a new image."
    },
    {
      "name": "Models",
      "description": "List and describe the various models available in the API."
    },
    {
      "name": "Moderations",
      "description": "Given text and/or image inputs, classifies if those inputs are potentially harmful."
    },
    {
      "name": "Audit Logs",
      "description": "List user actions and configuration changes within this organization."
    }
  ],
  "paths": {
    "/organization/admin_api_keys": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "List organization API keys",
        "operationId": "admin-api-keys-list",
        "description": "Retrieve a paginated list of organization admin API keys.",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "description": "Return keys with IDs that come after this ID in the pagination order."
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc",
              "description": "Order results by creation time, ascending or descending."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "description": "Maximum number of keys to return.",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organization API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List all organization and project API keys.",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/admin_api_keys?after=key_abc&limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.admin_api_key\",\n      \"id\": \"key_abc\",\n      \"name\": \"Main Admin Key\",\n      \"redacted_value\": \"sk-admin...def\",\n      \"created_at\": 1711471533,\n      \"expires_at\": 1714063533,\n      \"last_used_at\": 1711471534,\n      \"owner\": {\n        \"type\": \"service_account\",\n        \"object\": \"organization.service_account\",\n        \"id\": \"sa_456\",\n        \"name\": \"My Service Account\",\n        \"created_at\": 1711471533,\n        \"role\": \"member\"\n      }\n    }\n  ],\n  \"first_id\": \"key_abc\",\n  \"last_id\": \"key_abc\",\n  \"has_more\": false\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Create an organization admin API key",
        "operationId": "admin-api-keys-create",
        "description": "Create a new admin-level API key for the organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Admin Key"
                  },
                  "expires_in_seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31536000,
                    "example": 2592000,
                    "description": "The number of seconds until the API key expires. Omit this field for a key that does not expire.",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created admin API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiKeyCreateResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Create admin API key",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/admin_api_keys \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"New Admin Key\",\n      \"expires_in_seconds\": 2592000\n  }'\n"
            },
            "response": "{\n  \"object\": \"organization.admin_api_key\",\n  \"id\": \"key_xyz\",\n  \"name\": \"New Admin Key\",\n  \"redacted_value\": \"sk-admin...xyz\",\n  \"created_at\": 1711471533,\n  \"expires_at\": 1714063533,\n  \"last_used_at\": 1711471534,\n  \"owner\": {\n    \"type\": \"user\",\n    \"object\": \"organization.user\",\n    \"id\": \"user_123\",\n    \"name\": \"John Doe\",\n    \"created_at\": 1711471533,\n    \"role\": \"owner\"\n  },\n  \"value\": \"sk-admin-1234abcd\"\n}\n"
          }
        }
      }
    },
    "/organization/admin_api_keys/{key_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieve a single organization API key",
        "operationId": "admin-api-keys-get",
        "description": "Get details for a specific organization API key by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the API key."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the requested API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiKey"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve admin API key",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/admin_api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n  \"object\": \"organization.admin_api_key\",\n  \"id\": \"key_abc\",\n  \"name\": \"Main Admin Key\",\n  \"redacted_value\": \"sk-admin...xyz\",\n  \"created_at\": 1711471533,\n  \"last_used_at\": 1711471534,\n  \"owner\": {\n    \"type\": \"user\",\n    \"object\": \"organization.user\",\n    \"id\": \"user_123\",\n    \"name\": \"John Doe\",\n    \"created_at\": 1711471533,\n    \"role\": \"owner\"\n  }\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Delete an organization admin API key",
        "operationId": "admin-api-keys-delete",
        "description": "Delete the specified admin API key.",
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the API key to be deleted."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that the API key was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "key_abc"
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "organization.admin_api_key.deleted"
                      ],
                      "example": "organization.admin_api_key.deleted",
                      "x-stainless-const": true
                    },
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "deleted"
                  ]
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete admin API key",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/admin_api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n  \"id\": \"key_abc\",\n  \"object\": \"organization.admin_api_key.deleted\",\n  \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/certificates": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "List uploaded certificates for this organization.",
        "operationId": "listOrganizationCertificates",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificates listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCertificatesResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List organization certificates",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/certificates \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\"\n"
            },
            "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n  \"first_id\": \"cert_abc\",\n  \"last_id\": \"cert_abc\",\n  \"has_more\": false\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Upload a certificate to the organization. This does **not** automatically activate the certificate.\n\nOrganizations can upload up to 50 certificates.\n",
        "operationId": "uploadCertificate",
        "tags": [
          "Certificates"
        ],
        "requestBody": {
          "description": "The certificate upload payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Upload certificate",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/certificates \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"name\": \"My Example Certificate\",\n  \"certificate\": \"-----BEGIN CERTIFICATE-----\\\\nMIIDeT...\\\\n-----END CERTIFICATE-----\"\n}'\n"
            },
            "response": "{\n  \"object\": \"certificate\",\n  \"id\": \"cert_abc\",\n  \"name\": \"My Example Certificate\",\n  \"created_at\": 1234567,\n  \"certificate_details\": {\n    \"valid_at\": 12345667,\n    \"expires_at\": 12345678\n  }\n}\n"
          }
        }
      }
    },
    "/organization/certificates/activate": {
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Activate certificates at the organization level.\n\nYou can atomically and idempotently activate up to 10 certificates at a time.\n",
        "operationId": "activateOrganizationCertificates",
        "tags": [
          "Certificates"
        ],
        "requestBody": {
          "description": "The certificate activation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleCertificatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificates activated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCertificateActivationResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Activate certificates for organization",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/certificates/activate \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"certificate_ids\": [\"cert_abc\", \"cert_def\"]\n}'\n"
            },
            "response": "{\n  \"object\": \"organization.certificate.activation\",\n  \"data\": [\n    {\n      \"object\": \"organization.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n    {\n      \"object\": \"organization.certificate\",\n      \"id\": \"cert_def\",\n      \"name\": \"My Example Certificate 2\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n}\n"
          }
        }
      }
    },
    "/organization/certificates/deactivate": {
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Deactivate certificates at the organization level.\n\nYou can atomically and idempotently deactivate up to 10 certificates at a time.\n",
        "operationId": "deactivateOrganizationCertificates",
        "tags": [
          "Certificates"
        ],
        "requestBody": {
          "description": "The certificate deactivation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleCertificatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificates deactivated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCertificateDeactivationResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Deactivate certificates for organization",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/certificates/deactivate \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"certificate_ids\": [\"cert_abc\", \"cert_def\"]\n}'\n"
            },
            "response": "{\n  \"object\": \"organization.certificate.deactivation\",\n  \"data\": [\n    {\n      \"object\": \"organization.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": false,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n    {\n      \"object\": \"organization.certificate\",\n      \"id\": \"cert_def\",\n      \"name\": \"My Example Certificate 2\",\n      \"active\": false,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n}\n"
          }
        }
      }
    },
    "/organization/certificates/{certificate_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Get a certificate that has been uploaded to the organization.\n\nYou can get a certificate regardless of whether it is active or not.\n",
        "operationId": "getCertificate",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "Unique ID of the certificate to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A list of additional fields to include in the response. Currently the only supported value is `content` to fetch the PEM content of the certificate.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "content"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Get certificate",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl \"https://api.openai.com/v1/organization/certificates/cert_abc?include[]=content\" \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\"\n"
            },
            "response": "{\n  \"object\": \"certificate\",\n  \"id\": \"cert_abc\",\n  \"name\": \"My Example Certificate\",\n  \"created_at\": 1234567,\n  \"certificate_details\": {\n    \"valid_at\": 1234567,\n    \"expires_at\": 12345678,\n    \"content\": \"-----BEGIN CERTIFICATE-----MIIDeT...-----END CERTIFICATE-----\"\n  }\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Modify a certificate. Note that only the name can be modified.\n",
        "operationId": "modifyCertificate",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "Unique ID of the certificate to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The certificate modification payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate modified successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Modify certificate",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/certificates/cert_abc \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"name\": \"Renamed Certificate\"\n}'\n"
            },
            "response": "{\n  \"object\": \"certificate\",\n  \"id\": \"cert_abc\",\n  \"name\": \"Renamed Certificate\",\n  \"created_at\": 1234567,\n  \"certificate_details\": {\n    \"valid_at\": 12345667,\n    \"expires_at\": 12345678\n  }\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Delete a certificate from the organization.\n\nThe certificate must be inactive for the organization and all projects.\n",
        "operationId": "deleteCertificate",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "Unique ID of the certificate to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCertificateResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete certificate",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/certificates/cert_abc \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\"\n"
            },
            "response": "{\n  \"object\": \"certificate.deleted\",\n  \"id\": \"cert_abc\"\n}\n"
          }
        }
      }
    },
    "/organization/data_retention": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves organization data retention controls.",
        "operationId": "retrieve-organization-data-retention",
        "tags": [
          "Data retention"
        ],
        "responses": {
          "200": {
            "description": "Organization data retention controls retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDataRetention"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve organization data retention",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/data_retention \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"organization.data_retention\",\n    \"type\": \"modified_abuse_monitoring\"\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Updates organization data retention controls.",
        "operationId": "update-organization-data-retention",
        "tags": [
          "Data retention"
        ],
        "requestBody": {
          "description": "The desired organization data retention setting.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationDataRetentionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization data retention controls updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDataRetention"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Update organization data retention",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/data_retention \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"retention_type\": \"modified_abuse_monitoring\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"organization.data_retention\",\n    \"type\": \"modified_abuse_monitoring\"\n}\n"
          }
        }
      }
    },
    "/organization/groups": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Lists all groups in the organization.",
        "operationId": "list-groups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of groups to be returned. Limit can range between 0 and 1000, and the default is 100.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 100,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is a group ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with group_abc, your subsequent call can include `after=group_abc` in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the sort order of the returned groups.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Groups listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List groups",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups?limit=20&order=asc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"object\": \"group\",\n            \"id\": \"group_01J1F8ABCDXYZ\",\n            \"name\": \"Support Team\",\n            \"created_at\": 1711471533,\n            \"is_scim_managed\": false\n        }\n    ],\n    \"has_more\": false,\n    \"next\": null\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Creates a new group in the organization.",
        "operationId": "create-group",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "description": "Parameters for the group you want to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Create group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/groups \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"Support Team\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"group\",\n    \"id\": \"group_01J1F8ABCDXYZ\",\n    \"name\": \"Support Team\",\n    \"created_at\": 1711471533,\n    \"is_scim_managed\": false\n}\n"
          }
        }
      }
    },
    "/organization/groups/{group_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves a group.",
        "operationId": "retrieve-group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"id\": \"group_01J1F8ABCDXYZ\",\n    \"name\": \"Support Team\",\n    \"created_at\": 1711471533,\n    \"is_scim_managed\": false,\n    \"group_type\": \"group\"\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Updates a group's information.",
        "operationId": "update-group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New attributes to set on the group.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResourceWithSuccess"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Update group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"Escalations\"\n  }'\n"
            },
            "response": "{\n    \"id\": \"group_01J1F8ABCDXYZ\",\n    \"name\": \"Escalations\",\n    \"created_at\": 1711471533,\n    \"is_scim_managed\": false\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Deletes a group from the organization.",
        "operationId": "delete-group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDeletedResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"group.deleted\",\n    \"id\": \"group_01J1F8ABCDXYZ\",\n    \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/groups/{group_id}/roles": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Lists the organization roles assigned to a group within the organization.",
        "operationId": "list-group-role-assignments",
        "tags": [
          "Group organization role assignments"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group whose organization role assignments you want to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of organization role assignments to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Provide the value from the previous response's `next` field to continue listing organization roles.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for the returned organization roles.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group organization role assignments listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleListResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List group organization role assignments",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/roles \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"id\": \"role_01J1F8ROLE01\",\n            \"name\": \"API Group Manager\",\n            \"permissions\": [\n                \"api.groups.read\",\n                \"api.groups.write\"\n            ],\n            \"resource_type\": \"api.organization\",\n            \"predefined_role\": false,\n            \"description\": \"Allows managing organization groups\",\n            \"created_at\": 1711471533,\n            \"updated_at\": 1711472599,\n            \"created_by\": \"user_abc123\",\n            \"created_by_user_obj\": {\n                \"id\": \"user_abc123\",\n                \"name\": \"Ada Lovelace\",\n                \"email\": \"ada@example.com\"\n            },\n            \"metadata\": {}\n        }\n    ],\n    \"has_more\": false,\n    \"next\": null\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Assigns an organization role to a group within the organization.",
        "operationId": "assign-group-role",
        "tags": [
          "Group organization role assignments"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group that should receive the organization role.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Identifies the organization role to assign to the group.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAssignOrganizationGroupRoleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization role assigned to the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRoleAssignment"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Assign organization role to group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/roles \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"role_id\": \"role_01J1F8ROLE01\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"group.role\",\n    \"group\": {\n        \"object\": \"group\",\n        \"id\": \"group_01J1F8ABCDXYZ\",\n        \"name\": \"Support Team\",\n        \"created_at\": 1711471533,\n        \"scim_managed\": false\n    },\n    \"role\": {\n        \"object\": \"role\",\n        \"id\": \"role_01J1F8ROLE01\",\n        \"name\": \"API Group Manager\",\n        \"description\": \"Allows managing organization groups\",\n        \"permissions\": [\n            \"api.groups.read\",\n            \"api.groups.write\"\n        ],\n        \"resource_type\": \"api.organization\",\n        \"predefined_role\": false\n    }\n}\n"
          }
        }
      }
    },
    "/organization/groups/{group_id}/roles/{role_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves an organization role assigned to a group.",
        "operationId": "retrieve-group-role",
        "tags": [
          "Group organization role assignments"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "description": "The ID of the organization role to retrieve for the group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization role retrieved for the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignedRoleDetails"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve group organization role",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/roles/role_01J1F8ROLE01 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"id\": \"role_01J1F8ROLE01\",\n    \"name\": \"API Group Manager\",\n    \"permissions\": [\n        \"api.groups.read\",\n        \"api.groups.write\"\n    ],\n    \"resource_type\": \"api.organization\",\n    \"predefined_role\": false,\n    \"description\": \"Allows managing organization groups\",\n    \"created_at\": 1711471533,\n    \"updated_at\": 1711472599,\n    \"created_by\": \"user_abc123\",\n    \"created_by_user_obj\": null,\n    \"metadata\": {},\n    \"assignment_sources\": null\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Unassigns an organization role from a group within the organization.",
        "operationId": "unassign-group-role",
        "tags": [
          "Group organization role assignments"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "description": "The ID of the organization role to remove from the group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization role unassigned from the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedRoleAssignmentResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Unassign organization role from group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/roles/role_01J1F8ROLE01 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"group.role.deleted\",\n    \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/groups/{group_id}/users": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Lists the users assigned to a group.",
        "operationId": "list-group-users",
        "tags": [
          "Group users"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of users to be returned. Limit can range between 0 and 1000, and the default is 100.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 100,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. Provide the ID of the last user from the previous list response to retrieve the next page.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the sort order of users in the list.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group users listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List group users",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/users?limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"id\": \"user_abc123\",\n            \"name\": \"Ada Lovelace\",\n            \"email\": \"ada@example.com\"\n        }\n    ],\n    \"has_more\": false,\n    \"next\": null\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Adds a user to a group.",
        "operationId": "add-group-user",
        "tags": [
          "Group users"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Identifies the user that should be added to the group.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupUserBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added to the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUserAssignment"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Add group user",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/users \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"user_id\": \"user_abc123\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"group.user\",\n    \"user_id\": \"user_abc123\",\n    \"group_id\": \"group_01J1F8ABCDXYZ\"\n}\n"
          }
        }
      }
    },
    "/organization/groups/{group_id}/users/{user_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves a user in a group.",
        "operationId": "retrieve-group-user",
        "tags": [
          "Group users"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to retrieve from the group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved from the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberUser"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve group user",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/users/user_abc123 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"id\": \"user_abc123\",\n    \"name\": \"Ada Lovelace\",\n    \"email\": \"ada@example.com\",\n    \"picture\": null,\n    \"is_service_account\": false,\n    \"user_type\": \"user\"\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Removes a user from a group.",
        "operationId": "remove-group-user",
        "tags": [
          "Group users"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to remove from the group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User removed from the group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUserDeletedResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Remove group user",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/groups/group_01J1F8ABCDXYZ/users/user_abc123 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"group.user.deleted\",\n    \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/invites": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Returns a list of invites in the organization.",
        "operationId": "list-invites",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invites listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteListResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List invites",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/invites?after=invite-abc&limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.invite\",\n      \"id\": \"invite-abc\",\n      \"email\": \"user@example.com\",\n      \"role\": \"owner\",\n      \"status\": \"accepted\",\n      \"created_at\": 1711471533,\n      \"expires_at\": 1711471533,\n      \"accepted_at\": 1711471533\n    }\n  ],\n  \"first_id\": \"invite-abc\",\n  \"last_id\": \"invite-abc\",\n  \"has_more\": false\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.",
        "operationId": "inviteUser",
        "tags": [
          "Invites"
        ],
        "requestBody": {
          "description": "The invite request payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User invited successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Create invite",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/invites \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"email\": \"anotheruser@example.com\",\n      \"role\": \"reader\",\n      \"projects\": [\n        {\n          \"id\": \"project-xyz\",\n          \"role\": \"member\"\n        },\n        {\n          \"id\": \"project-abc\",\n          \"role\": \"owner\"\n        }\n      ]\n  }'\n"
            },
            "response": "{\n  \"object\": \"organization.invite\",\n  \"id\": \"invite-def\",\n  \"email\": \"anotheruser@example.com\",\n  \"role\": \"reader\",\n  \"status\": \"pending\",\n  \"created_at\": 1711471533,\n  \"expires_at\": 1711471533,\n  \"accepted_at\": null,\n  \"projects\": [\n    {\n      \"id\": \"project-xyz\",\n      \"role\": \"member\"\n    },\n    {\n      \"id\": \"project-abc\",\n      \"role\": \"owner\"\n    }\n  ]\n}\n"
          }
        }
      }
    },
    "/organization/invites/{invite_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves an invite.",
        "operationId": "retrieve-invite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invite_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the invite to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Invite retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve invite",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/invites/invite-abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"organization.invite\",\n    \"id\": \"invite-abc\",\n    \"email\": \"user@example.com\",\n    \"role\": \"owner\",\n    \"status\": \"accepted\",\n    \"created_at\": 1711471533,\n    \"expires_at\": 1711471533,\n    \"accepted_at\": 1711471533\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Delete an invite. If the invite has already been accepted, it cannot be deleted.",
        "operationId": "delete-invite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invite_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the invite to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Invite deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteDeleteResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete invite",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/invites/invite-abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"organization.invite.deleted\",\n    \"id\": \"invite-abc\",\n    \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/projects": {
      "get": {
        "summary": "Returns a list of projects.",
        "operationId": "list-projects",
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If `true` returns all projects including those that have been `archived`. Archived projects are not included by default."
          }
        ],
        "responses": {
          "200": {
            "description": "Projects listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List projects",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects?after=proj_abc&limit=20&include_archived=false \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"id\": \"proj_abc\",\n            \"object\": \"organization.project\",\n            \"name\": \"Project example\",\n            \"created_at\": 1711471533,\n            \"archived_at\": null,\n            \"status\": \"active\"\n        }\n    ],\n    \"first_id\": \"proj-abc\",\n    \"last_id\": \"proj-xyz\",\n    \"has_more\": false\n}\n"
          }
        }
      },
      "post": {
        "summary": "Create a new project in the organization. Projects can be created and archived, but cannot be deleted.",
        "operationId": "create-project",
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "description": "The project create request payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Create project",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/projects \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"Project ABC\"\n  }'\n"
            },
            "response": "{\n    \"id\": \"proj_abc\",\n    \"object\": \"organization.project\",\n    \"name\": \"Project ABC\",\n    \"created_at\": 1711471533,\n    \"archived_at\": null,\n    \"status\": \"active\"\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}": {
      "get": {
        "summary": "Retrieves a project.",
        "operationId": "retrieve-project",
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve project",
          "group": "administration",
          "description": "Retrieve a project.",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"id\": \"proj_abc\",\n    \"object\": \"organization.project\",\n    \"name\": \"Project example\",\n    \"created_at\": 1711471533,\n    \"archived_at\": null,\n    \"status\": \"active\"\n}\n"
          }
        }
      },
      "post": {
        "summary": "Modifies a project in the organization.",
        "operationId": "modify-project",
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The project update request payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Error response when updating the default project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Modify project",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"Project DEF\"\n  }'\n"
            }
          }
        }
      }
    },
    "/organization/projects/{project_id}/api_keys": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Returns a list of API keys in the project.",
        "operationId": "list-project-api-keys",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_project_access",
            "in": "query",
            "description": "Filter API keys by whether the owner currently has effective access to the project. Use `active` for owners with access, `inactive` for owners without access, or `any` for all enabled project API keys. If omitted, the endpoint applies its existing membership-based visibility rules, which may exclude some enabled keys.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "any"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project API keys listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectApiKeyListResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List project API keys",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/api_keys?after=key_abc&limit=20&owner_project_access=any \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"object\": \"organization.project.api_key\",\n            \"redacted_value\": \"sk-abc...def\",\n            \"name\": \"My API Key\",\n            \"created_at\": 1711471533,\n            \"last_used_at\": 1711471534,\n            \"id\": \"key_abc\",\n            \"owner_project_access\": \"active\",\n            \"owner\": {\n                \"type\": \"user\",\n                \"user\": {\n                    \"id\": \"user_abc\",\n                    \"name\": \"First Last\",\n                    \"email\": \"user@example.com\",\n                    \"role\": \"owner\",\n                    \"created_at\": 1711471533\n                }\n            }\n        }\n    ],\n    \"first_id\": \"key_abc\",\n    \"last_id\": \"key_xyz\",\n    \"has_more\": false\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/api_keys/{api_key_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves an API key in the project.",
        "operationId": "retrieve-project-api-key",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key_id",
            "in": "path",
            "description": "The ID of the API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project API key retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectApiKey"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve project API key",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"organization.project.api_key\",\n    \"redacted_value\": \"sk-abc...def\",\n    \"name\": \"My API Key\",\n    \"created_at\": 1711471533,\n    \"last_used_at\": 1711471534,\n    \"id\": \"key_abc\",\n    \"owner_project_access\": \"active\",\n    \"owner\": {\n        \"type\": \"user\",\n        \"user\": {\n            \"id\": \"user_abc\",\n            \"name\": \"First Last\",\n            \"email\": \"user@example.com\",\n            \"role\": \"owner\",\n            \"created_at\": 1711471533\n        }\n    }\n}\n"
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Deletes an API key from the project.\n\nReturns confirmation of the key deletion, or an error if the key belonged to\na service account.\n",
        "operationId": "delete-project-api-key",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key_id",
            "in": "path",
            "description": "The ID of the API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project API key deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectApiKeyDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response for various conditions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete project API key",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X DELETE https://api.openai.com/v1/organization/projects/proj_abc/api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"organization.project.api_key.deleted\",\n    \"id\": \"key_abc\",\n    \"deleted\": true\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/archive": {
      "post": {
        "summary": "Archives a project in the organization. Archived projects cannot be used or updated.",
        "operationId": "archive-project",
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project archived successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Archive project",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc/archive \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"id\": \"proj_abc\",\n    \"object\": \"organization.project\",\n    \"name\": \"Project DEF\",\n    \"created_at\": 1711471533,\n    \"archived_at\": 1711471533,\n    \"status\": \"archived\"\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/certificates": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "List certificates for this project.",
        "operationId": "listProjectCertificates",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificates listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectCertificatesResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List project certificates",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/certificates \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\"\n"
            },
            "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.project.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n  \"first_id\": \"cert_abc\",\n  \"last_id\": \"cert_abc\",\n  \"has_more\": false\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/certificates/activate": {
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Activate certificates at the project level.\n\nYou can atomically and idempotently activate up to 10 certificates at a time.\n",
        "operationId": "activateProjectCertificates",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The certificate activation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleCertificatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificates activated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationProjectCertificateActivationResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Activate certificates for project",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/certificates/activate \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"certificate_ids\": [\"cert_abc\", \"cert_def\"]\n}'\n"
            },
            "response": "{\n  \"object\": \"organization.project.certificate.activation\",\n  \"data\": [\n    {\n      \"object\": \"organization.project.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n    {\n      \"object\": \"organization.project.certificate\",\n      \"id\": \"cert_def\",\n      \"name\": \"My Example Certificate 2\",\n      \"active\": true,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/certificates/deactivate": {
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Deactivate certificates at the project level. You can atomically and \nidempotently deactivate up to 10 certificates at a time.\n",
        "operationId": "deactivateProjectCertificates",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The certificate deactivation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleCertificatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificates deactivated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationProjectCertificateDeactivationResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Deactivate certificates for project",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/certificates/deactivate \\\n-H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"certificate_ids\": [\"cert_abc\", \"cert_def\"]\n}'\n"
            },
            "response": "{\n  \"object\": \"organization.project.certificate.deactivation\",\n  \"data\": [\n    {\n      \"object\": \"organization.project.certificate\",\n      \"id\": \"cert_abc\",\n      \"name\": \"My Example Certificate\",\n      \"active\": false,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n    {\n      \"object\": \"organization.project.certificate\",\n      \"id\": \"cert_def\",\n      \"name\": \"My Example Certificate 2\",\n      \"active\": false,\n      \"created_at\": 1234567,\n      \"certificate_details\": {\n        \"valid_at\": 12345667,\n        \"expires_at\": 12345678\n      }\n    },\n  ],\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/data_retention": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves project data retention controls.",
        "operationId": "retrieve-project-data-retention",
        "tags": [
          "Data retention"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project data retention controls retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDataRetention"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve project data retention",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc/data_retention \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"project.data_retention\",\n    \"type\": \"organization_default\"\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Updates project data retention controls.",
        "operationId": "update-project-data-retention",
        "tags": [
          "Data retention"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The desired project data retention setting.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectDataRetentionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project data retention controls updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDataRetention"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Update project data retention",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc/data_retention \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"retention_type\": \"modified_abuse_monitoring\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"project.data_retention\",\n    \"type\": \"modified_abuse_monitoring\"\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/groups": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Lists the groups that have access to a project.",
        "operationId": "list-project-groups",
        "tags": [
          "Project groups"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of project groups to return. Defaults to 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 20,
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last group from the previous response to fetch the next page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for the returned groups.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project groups listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGroupListResource"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List project groups",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc123/groups?limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
            "response": "{\n    \"object\": \"list\",\n    \"data\": [\n        {\n            \"object\": \"project.group\",\n            \"project_id\": \"proj_abc123\",\n            \"group_id\": \"group_01J1F8ABCDXYZ\",\n            \"group_name\": \"Support Team\",\n            \"created_at\": 1711471533\n        }\n    ],\n    \"has_more\": false,\n    \"next\": null\n}\n"
          }
        }
      },
      "post": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Grants a group access to a project.",
        "operationId": "add-project-group",
        "tags": [
          "Project groups"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Identifies the group and role to assign to the project.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteProjectGroupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group granted access to the project successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGroup"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Add project group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc123/groups \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"group_id\": \"group_01J1F8ABCDXYZ\",\n      \"role\": \"role_01J1F8PROJ\"\n  }'\n"
            },
            "response": "{\n    \"object\": \"project.group\",\n    \"project_id\": \"proj_abc123\",\n    \"group_id\": \"group_01J1F8ABCDXYZ\",\n    \"group_name\": \"Support Team\",\n    \"created_at\": 1711471533\n}\n"
          }
        }
      }
    },
    "/organization/projects/{project_id}/groups/{group_id}": {
      "get": {
        "security": [
          {
            "AdminApiKeyAuth": []
          }
        ],
        "summary": "Retrieves a project's group.",
        "operationId": "retrieve-project-group",
        "tags": [
          "Project groups"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The ID of the project to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the group to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_type",
            "in": "query",
            "description": "The type of group to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "group",
                "tenant_group"
              ],
              "default": "group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project group retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGroup"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve project group",
          "group": "administration",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/organization/projects/proj_abc123/groups/group_01J1F8ABCDXYZ \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
            },
[...]
